<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Initium - Main Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_UI.css') }}">
</head>

<body>
    <div class="game-container">

        <div class="panel">
            <div class="UI-Nav-section">
                <button class="explore-button">Explore</button>
                <button class="inventory-button">Inventory</button>
                <button class="skills-button">Skills</button>
            </div>
        </div>

        <div class="panel">
            <div class="text-section">
                <p>Placeholder text</p>
            </div>
        </div>

        <div class="panel">
            <div class="info-section">
                <p>Placeholder text</p>
            </div>
        </div>

    </div>
</body>

</html>
